/* Tabs
   -------------------------------------------------- */

/**
 * Container
 */
.tab-container {
  clear: both;
  margin-bottom: 1.5em;
}

/**
 * Navigation
 */
.tab-navigation {
  margin: 0;
  padding: 0;
}

  .tab-navigation > li {
    display: block;
    float: left;
  }

    .tab-navigation > li > a {
      display: block;
    }
